<footer>
	<div class="footerReseau">
		<div>
			<a href="https://github.com/Manon13380"><img src="./images/signe-github 3.png" alt="Logo github" width="30"></a>
		</div>
		<p class="copyright">Copyright Dallest Manon</p>
		<div>
			<a href="www.linkedin.com/in/manon-dallest"><img src="./images/logo_linkedin.png" alt="Logo linkedin" width="30"></a>
		</div>
	</div>
</footer>
