<main id="mainAddForm">
	<section class="addForm">
		<h2>Ajouter un projet</h2>
		<form  action="/addFormulaire" method="post" enctype="multipart/form-data">
			<div id="addForm">
				<div class="labelInputContainer">
					<label for="name">Nom :</label>
					<label for="description">Description :</label>
					<label for="url">URL :</label>
					<label for="urlGithub">Url Github :</label>
					<label for="image">Image :</label>
				</div>
				<div class="labelInputContainer">
					<input name="name" type="text" required>
					<input name="description" type="text" required>
					<input name="url" type="text">
					<input name="urlGithub" type="text" required>
					<input id="imageInput" name="image" type="file" >
				</div>
			</div>
			<div class="buttonContainer">
				<button class="createButton">Créer</button>
			</div>
		</form>
	</section>
</main>
