<section id="presentation" >
	<div class="leftTitleContainer" >
		<h2 id="aboutTitle" class="titleSection">
			A propos de moi</h2>
	</div>
	<div class="aboutContainer">
		<div class="aboutTextContainer">
			<p>A 31 ans, je suis actuellement en reconversion pour travailler
				<br>
				dans le secteur du développement Web.
				<br>
				Suite à un bac +2 en développement web, j’ai pu
				<br>
				acquérir les bases de plusieurs langages web.
				<br>
				Mes années d’expériences en tant qu’infirmière m’ont
				<br>
				permis de développer plusieurs compétences, telles que
				<br>
				la rigueur, l’organisation et le sens du travail en équipe.
				<br>
				J’aimerais continuer ma formation avec une année
				<br>
				en alternance dans la conception et le développement d'application.
			</p>
			<div id="curiculumContainer">
				<a href="/documents/CV.pdf" id="curiculum">Télécharger mon CV</a>
				<img id="imageFeuille"src="/images/feuilleTwo.png" alt="Ornement" width="100">
			</div>
		</div>
		<div>
			<img id="aboutImage" src="/images/imagePresentation.png" alt="Image présentation" width="275"></div>

	</div>
</section>
