<section id="titlePortfolio">

	<h1 id="namePortfolio" class="textWrapper">Dallest Manon</h1>
	<p id="work" class="textWrapperTwo">DÉVELOPPEUSE WEB</p>
	<div class="reseau">
		<a href="https://github.com/Manon13380"><img class="image" src="/images/github_brown.png" alt="Logo Github" width="50"></a>
		<a href="http://www.linkedin.com/in/manon-dallest"><img class="image" src="/images/linkedin_brown.png" alt="Logo Linkedin" width="50"></a>
		<a href="#contact"><img class="image" src="/images/email_brown.png" alt="Logo email" width="50"></a>
	</div>
	<div>
		<img id="scrollImage" class="imageScroll" src="/images/Image_scroll.png" alt="Logo Scroll" width="35">
	</div>
	<img id="img_feuille_one" class="imageAbsolute" src="/images/feuilleOne.png" alt="Feuille">
	<img id="etoile_one" class="imageAbsolute" src="/images/Etoile.png" alt="Etoile">
	<img id="etoile_two" class="imageAbsolute" src="/images/Etoile.png" alt="Etoile">
	<img id="etoile_three" class="imageAbsolute" src="/images/Etoile.png" alt="Etoile">
	<img id="etoile_four" class="imageAbsolute" src="/images/Etoile.png" alt="Etoile">

</section>
